{% include 'base.html' %}
{% block content %}
<div class="card bg-transparent text-light col-8 card-bg-outline-light" style="margin-left:2%;">
    <div class="card-title">
        <h2>Mind Mingles</h2>
    </div>
    <div class="card-body">
        <h3>Mind mingle is event of all subjects event introduced by different modules and assignments.</h3>
        <p>These modules serve as components or units within a subject's curriculum, focusing on specific events or topics. They are designed to provide in-depth learning and understanding of the chosen subject matter. Each event module is tailored to the particular subject and may include lectures, readings, assignments, and assessments related to the event. Event modules can be an effective way to engage students in active learning and critical thinking by exploring real-world examples and case studies within their chosen fields of study.</p>
    </div>
</div>
<img src="https://cdn.shopify.com/s/files/1/0435/1216/8606/files/Coffee_Meme_-_1_480x480.jpg?v=1633902188">
{% endblock %}
